.fullscreenDiv {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    bottom: 0px;
    top: 0px;
    left: 0;
    position: absolute;
}
.center {
    position: absolute;
    border: 1px solid blue;
    width: 275px;
    height: 25px;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -125px;
}

font-family: 'Open Sans', sans-serif;
